body{
	margin: 0;
	font-family: "Roboto" ;
}

a{
	text-decoration: none;
}
li {
  color: black;
  padding: 25px;
}

.navbar-header {
  margin-top: 10px;
}

.header {
  background-color: white;
  height: 100px;
}


